.chat-header {
    width: 100%;
    height: 100%;
}

.leftie,
.rightie {
    line-height: 50px;
    margin-left: 8px;
    margin-right: 8px;
}

.leftie {
    display: inline;
    
}

.rightie {
    display: inline;

    float: right;
}