.message-block {
    width: 400px;
    height: auto;

    background-color: rgb(167, 192, 221);

    border-radius: 8px;
    padding: 16px;
    margin-top: 8px;
}

.message-block img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.messages-actions {
    height: 30px;
}

.messages-actions span {
    margin-left: 8px;
    height: 30px;
    line-height: 30px;
}

.message-user-name {
    font-size: 1.3rem;
    font-weight: bold;
}

.message-date {
    color: rgb(42, 68, 97);
}

.action {
    float: right;
}

.message-block button {
    outline: 0;
    border: 0;
    background-color: #0000;
}

.byme {
    margin-left: 100%;
    transform: translateX(-100%);
}

.date-line {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;

    margin-top: 8px;

    border-top: 1px solid rgb(167, 192, 221);
}