.message-box {
    display: flex;

    width: 100%;
    height: 100%;

    padding-top: 25px;
}

#message,
#send-message {
    padding: 8px;
}

#message {
    flex-grow: 4;
}

#send-message {
    flex-grow: 1;
}